<nav>
	<a href="{% url 'todos:index' %}">TODOS</a>
	<a href="{% url 'logout' %}" style = "float:right"> Log Out</li>
</nav>
{% if todos_list %}
	<h4><a href= "{% url 'todos:new' %}"> New </a></h4>
    <ul style="list-style-type: none">
    {% for todo in todos_list %}
		<div>
			<li>
				<small>{{todo.pub_date}}</small><br>
				{{todo.todo_text}}
				<form method = "post">
				{% csrf_token %}
				<input type="hidden" name="todo_id" id="todo_id" value="{{todo.id}}">
				{% if todo.status is False %}
					<input type="submit" name="done" value="Mark as done!">
				{% else %}
					Completed!
				{% endif %}
				<input type="submit" name="delete" value="Delete!">
				</form>
			</li>
			<br><br>
		</div>
    {% endfor %}
    </ul>
{% else %}
	<h4><a href= "{% url 'todos:new' %}"> New </a></h4>
    <p>No todo created</p>
{% endif %}